{% extends "base.html" %}

{% block content %}

<h2>All Blogs</h2>




        {% if blog_posts|length == 0 %}
            <p>No blogs yet</p>

    {% else %}
            {% for blog in blog_posts %}    
                <a href='/blog?id={{blog.id}}'>{{blog.title}}</a>
                <br>
                {{body}}
                <br>
                
                                Written by: <a href='/blog?user={{blog.owner_id}}'>{{blog.owner.username}}</a>
                       
                <br>
                <br>
            {% endfor %}    
        
    {% endif %}

{% endblock %}